@import '@/globals.scss';

.modal {
  width: 100%;

  display: flex;
  flex-direction: column;

  .member_list_title {
    padding-left: 16px;

    p {
      @include Title3-SB;
    }
  }

  .member_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--gray-200);

    padding: 16px 0;

    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks */

    .member_list_item {
      z-index: 100;
      background-color: $--gray-50;

      min-width: 83px;
      height: 60px;

      border-radius: 10px;

      position: relative;

      display: flex;
      align-items: center;

      cursor: pointer;
      .image_wrapper {
        width: 34px;
        height: 34px;

        margin-right: 8px;
        margin-left: 15px;

        border-radius: 50%;

        overflow: hidden;

        & > img {
          object-fit: cover;
        }

        .empty_image {
          width: 34px;
          height: 34px;

          background-color: $--gray-300;
        }
      }

      .name {
        @include Title3-M;

        color: $--Black;
      }

      .lecture {
        width: 60px;
        height: 22px;

        margin-left: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 11px;

        background-color: $--Chips;

        & > p {
          @include Body4-R;

          color: $--Primary-blue;
        }
      }
    }
  }
}
